@import url(reset.css);

:root {
    --dark-green: #005E50;
    --light-beige: #FBF4E9;
    --accent-green: #3c845a;
    --text-color: #333;
    --light-grey-text: #666;
}

body {
    font-family: Arial, sans-serif, "Microsoft JhengHei", "PingFang TC";
    color: var(--dark-green);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-color:white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainlogo {
  display: block;
  width: 240px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 36px;
}

.nav-menu > ul > li > a {
    color: var(--accent-green);
    text-decoration: none;
    font-size: 24px;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}

.nav-menu > ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: var(--accent-green); /* 線的顏色 */
  transition: width 0.5s ease; /* 控制動畫速度與曲線 */
}

.nav-menu ul li a:hover::after {
  width: 100%; /* hover 時線條由左到右展開 */
}

.nav-icons {
    display: flex;
    gap: 36px;
    padding-left: 36px;
}

.nav-icons a {
    color: var(--accent-green);
    font-size: 20px;
}


.nav-menu ul li.has-dropdown{
    position: relative;
}

.nav-menu li.has-dropdown::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    background: transparent;
}


.nav-menu ul li .dropdown {
    display: none;
    position: absolute;
    top: 140%; 
    background-color: var(--light-beige);
    padding: 10px;
    list-style: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 6px;
    z-index: 10;
    
}

.nav-menu ul li .dropdown li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding: 0 20px;
    color: var(--accent-green);
    font-size: 20px;
    text-decoration: none;
    white-space: nowrap;
    transition: background 0.1s ease, color 0.1s ease;
    border-radius: 4px;
}



.nav-menu ul li .dropdown li a:hover {
    background-color: var(--accent-green);
    color:#fff;
    border-radius: 4px;
}


.nav-menu ul li.has-dropdown:hover .dropdown {
    display: block;
} 

