

@import url(reset.css);

body {
    font-family: Arial, sans-serif, "Microsoft JhengHei", "PingFang TC";
    color: var(--dark-green);
    background-color: var(--light-beige);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

:root {
    --dark-green: #005E50;
    --light-beige: #FBF4E9;
    --accent-green: #3c845a;
    --text-color: #333;
    --light-grey-text: #666;
}

/* --- Header 區塊 --- */
.header {
    background-color:white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainlogo {
  display: block;
  width: 240px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    margin-right: 36px;
}

.nav-menu ul li {
    margin-left: 30px;
}

.nav-menu ul li a {
    color: #3c845a;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;

}

.nav-menu ul li a:hover {
    color: var(--dark-green);
}

.nav-icons {
    display: flex;
    gap: 36px;
}

.nav-icons a {
    color: #3c845a;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-icons a:hover {
    color: var(--dark-green);
}

.nav-menu {
    display: flex;
    align-items: center;
}

/* --- Hero Banner 區塊 (主視覺) --- */
.hero-banner {
    text-align: center;
}

.hero-container {
    width: 100%;
}
.maincontainer{
    width: 100%
}

.p-index_kv__result{
    background-color:white;
    border: 2px solid black;
    border-radius: 10px;
    overflow: clip;
    position: absolute;
    right: 2%; ;
    top: 10%;
    z-index: 10;
    block-size:80%;
}

.p-index_kv__result p {
    background-color: yellow;
    border-bottom: 2px solid black;

}

/* --- News 最新消息 區塊 --- */
.news-section {
    background-color: var(--light-beige);
    padding: 40px 0;
}

.news-content {
    display: flex;
    gap: 40px;
}

.news-header {
    flex: 0 0 200px;
    text-align: start;
}

.news-header h2 {
    font-size: 48px;
    color: var(--accent-green);
    margin-bottom: 5px;
    letter-spacing:5px;
    font-weight: bolder;
}

.news-header p {
    font-size: 18px;
    color: var(--light-grey-text);
}

.news-list {
    flex-grow: 1;
    border-top: 1px solid #ddd;
}

.news-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: var(--text-color);
    line-height: 1.5;
}

.news-item .news-date {
    flex: 0 0 100px;
    color: var(--light-grey-text);
    font-size: 14px;
}

.news-item .news-category {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 15px;
}

.news-item .tag-green {
    background-color: var(--accent-green);
    color: white;
}

.news-item .news-title {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
}

.news-item .news-items {
    text-decoration: none;
    color: var(--text-color);
}

.news-list .view-more {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    color: var(--accent-green);
    border-bottom: none;
    padding-top: 20px;
    
}

.news-list a {
    text-decoration: none;
    color: var(--accent-green);
}

.view-more i {
    margin:0 16px;
    align-content: center;

}

/* --- Kong-Jiao 介紹區塊 --- */
.about-kongjiao-section {
    background-color: var(--light-beige);
    padding: 60px 0;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid #000;
}


.about-img {
    background-color: var(--dark-green);

}

.about-img img {
    width: 150px;
    height: auto;
}

.about-text {
    text-align: left;
    margin-left: 40px;
}

.about-text h2 {
    font-size: 32px;
    color: var(--dark-green);
    margin-bottom: 5px;
}

.about-text p {
    font-size: 18px;
    color: var(--light-grey-text);
    margin: 5px 0;
}

/* --- 租借流程 --- */
.process-section{
    background-color: white;
    padding: 80px 0;
}

.header-title {
    background-color: var(--dark-green);
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding: 32px 40px;
    margin-bottom: 80px;
}

.step-item {
    display: flex;
    gap: 40px;
    height: 600px;
}

.step-1, .step-3 {
    flex-direction: row;
}

.step-2 {
    flex-direction: row-reverse;
}

.step-number-bg {
    flex: 1;
    background-color:var(--light-beige);
    padding: 30px;
    border-radius: 64px;
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.step-numbers {
    background-color:white;
    font-size: 120px;
    font-weight: bold;
    color: var(--accent-green);
    position: absolute;
    /* 定位到右上角 */
    top: 30px;
    right: 30px;
    line-height: 1;
    z-index: 1;
    border-radius: 48px;
    padding: 10px;
}

.step-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
}

.step-content h2 {
    font-size: 48px;
    color:var(--dark-green);
    margin-top: 0;
    margin-bottom: 16px;
    font-weight:400;
}

.step-content p {
    font-size: 18px;
    color: #000;
    line-height: 1.6;
    margin-bottom: 10px;
}

.step-content .note {
    font-size: 16px;
    color: var(--accent-green);
    margin-top: 10px;
}

.step-content .note span {
    margin-right: 8px;
}

/* --- Contact Us --- */
.contact-section {
    background-color: var(--dark-green);
    padding: 80px 0;
    text-align: center;
}

.contact-section h2 {
    font-size: 40px;
    color:white;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-form input,
.contact-form textarea {
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color:white;
    font-size: 16px;
    color: var(--text-color);
}

.contact-form textarea {
    min-height: 150px;
    resize:none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #B5B5B5;
}

.contact-form button {
    background-color: var(--accent-green);
    color: white;
    border: none;
    padding: 16px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #306d48;
}

/* --- Q&A --- */
.faq {
    padding: 80px;
}

.faq-header-section {
    background-color: var(--accent-green);
    color: white;
    padding: 60px 0;
    position: relative;
    margin-bottom: 40px;
}

.faq-text-content {
    padding-left: 5%;
}

.faq-text-content h1 {
    font-size: 3.5em;
    font-weight: bold;
}

.faq-text-content p {
    font-size: 1.2em;
    font-weight: 300;
}

.qa-text {
    font-size: 8em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 1;
}

.faq-main-content {
    display: flex;
    margin: 0 auto;
    position: relative;
}

.faq-left-column {
    width: 40%;
    position: relative;
}

.illustration img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
}

.faq-button {
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: var(--accent-green);
    border: 2px solid var(--accent-green);
    padding: 10px 20px;
    border-radius: 24px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.faq-button:hover {
    background-color: var(--accent-green);
    color: white;
}

.faq-button .arrow {
    margin-left: 10px;
    font-size: 1.2em;
    margin-bottom: 4px;
}

.faq-right-column {
    width: 60%;
    padding: 20px 0 20px 60px;
    background-color: var(--light-beige)
}

.qa-item {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qa-title {
    font-weight: bold;
    color: var(--dark-green);
    font-size: 1.1em;
}

.qa-item .icon {
    margin-right: 16px;
    font-size: 1.2em;
}

.toggle-icon {
    font-size: 1.5em;
    color: var(--accent-green);
    line-height: 1;
}

/* --- Footer 區塊 --- */
.footer-container {
    background-color: var(--dark-green)
}

.footer-container-main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-green);
    padding: 40px 0;
}

/* --- 左側區域 --- */
.left-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 50px;
}

.nav-links-area {
    margin-bottom: 40px;
}


.main-titles-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 24px;
}
.main-title {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    text-align: center;
}

.main-title:hover {
    color: var(--accent-green)
}

.separator {
    border: 0;
    height: 1px;
    background-color: #D1D1D1;
    margin: 0 0 24px 0;
}

.sub-links-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.link-column {
    display: flex;
    flex-direction: column;
}
.link-column a {
    color: #D1D1D1;
    font-size: 18px;
    text-decoration: none;
    line-height: 2.5;
    text-align: center;

}

.link-column a:hover {
    color: #3C845A;
}

.icon-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px; 
  justify-items: center; 
  align-items: center;  
}

.icon-section a {
    width: 24px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #FBF4E9;
}

.icon-section a:hover {
    color: #3C845A;
}


/* --- 右側區域 --- */
.contact-card {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    color: #005E50;
    width: 400px;
}

.logo-area {
    align-items: center;
    margin-bottom: 20px;
    width: 400px;
    height: auto;
}

.contact-separator {
    border: 0;
    height: 1px;
    background-color: #D1D1D1;
    margin: 15px 0;
}


.store-info {
    display: flex;
}
.store-name {
    font-size: 20px;
    font-weight: 600;
    padding:0 32px 0 32px;
    color: var(--accent-green);
    line-height: 2.5;
}
.details {
    font-size: 16px;
    color: #000
}

.number {
    font-weight: 600;
}
